cluster_name = "koor-demo"
ssh_public_key_file = "~/.ssh/id_ed25519.pub" // new ssh key
control_plane_vm_count=2
initial_machinedeployment_replicas=1
worker_type="cpx41"
control_plane_type="cpx31"
os="ubuntu"
worker_os="ubuntu"
